@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-black: #000000;
  --color-brand-darkgreen: #141e11;
  --color-brand-darkblue: #021c36;
  --color-brand-white: #ffffff;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, sans-serif;
  overflow-x: hidden;
}
